<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ExpressDB" connectionString="Data Source=Database\B;Initial Catalog=Express;Integrated Security=true;Application Name=GF.UserSecurity.API;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="servicestack:license" value="3799-a=="/>
    <add key="enableCors" value="True"/>
    <add key="AuthClientId" value="a"/>
    <add key="AuthSecret" value="a"/>
    <add key="MDMEndpoint" value="mdm"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
